$gray: #000000;
$lighterGray: #1a1a1a;
$lightestGray: #4d4d4d;
$white: #FFFFFF;
$seaFoam: #00b386;

@keyframes Pulse {
  0% {opacity: .3}
  50% {opacity: .5}
  100% {opacity: .7}
}

body {
  margin: 0;
  background-color: $gray;
}

h2 {
  font-family: 'Changa', sans-serif;
}

#header {
  margin: 0;
  background-color: $white;
}

#title {
  font-family: 'Changa', sans-serif;
  font-size: 18px;
  margin: 0 0 5px 8px;
}

#gameContainer {
  height: 700px;
  max-width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -1;
}

#message {
  opacity: .6;
  font-family: 'Changa', sans-serif;
  color: $white;
  width: 33%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: $lighterGray;
  text-align: center;
  border: solid 5px $seaFoam;
  animation: Pulse 1.5s linear infinite alternate;
  p {
    font-size: 20px;
  }
}

#prompt {
 position: absolute;
 left: 50%;
 top: 0;
 display: none;
}

.letter {
  display: inline;
  font-size: 550px;
  font-family: 'Alegreya Sans', sans-serif;
}

#underScore {
  font-size: 600px;
  font-family: 'Alegreya Sans', sans-serif;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  color: $seaFoam;
  opacity: .8;
  bottom: -130px;
}

.done {
  color: $lighterGray;
}

.active {
  color: $white;
}

.queued {
  color: $lightestGray;
}

#console {
  background-color: $white;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
}

#playButton {
  height: 40px;
  margin: 0 auto;
  display: block;
  padding: 8px;
}

#timerTitle {
  @extend #title;
  position: absolute;
  top: 0;
}

#timer {
  @extend #title;
  position: absolute;
  margin-bottom: 0;
  left: 8px;
  top: 25px;
}

#pointsTitle {
  @extend #title;
  position: absolute;
  top: 0;
  right: 8px;
}

#points {
  @extend #title;
  position: absolute;
  margin-bottom: 0;
  right: 8px;
  top: 25px
}

#sheath {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: $gray;
  z-index: -1;
  opacity: .4;
}

#particles {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-2;
  opacity: .6;
}

canvas{
  background-color: $gray;
	display: block;
	vertical-align: bottom;
}
